@import './colors.scss';
@import './dims.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $colors-background;
    color: $colors-text;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

@media not speech {
    .sr-only {
        display: none;
    }
}

input[type='text'],
input[type='password'],
input[type='submit'],
button {
    padding: $dims-padding-dense;
    border-radius: $dims-border-radius-subtle;
}

button {
    background-color: $colors-primary-bright;
    padding: $dims-padding;
    color: $colors-text;
    border: none;

    &:hover {
        background: lighten($colors-primary, 40%);
        color: #fff;
    }

    &:hover.active {
        background: lighten($colors-primary, 40%);
        color: $colors-text-dark;
    }

    &:active,
    &.active {
        background: lighten($colors-primary, 20%);
        color: $colors-text-dark;
    }
}
