$colors-background: #1d1f21;
$colors-background-alt: #282a2e;
$colors-selected: #233b51;
$colors-highlight: lighten($colors-selected, 10%);
$colors-text: #c5c8c6;
$colors-text-dark: #282a2e;
$colors-primary: #123456;
$colors-primary-bright: #184674;
$colors-active: $colors-primary;
$colors-success: #b5bd68;
$colors-error: #cc6666;
$colors-info: $colors-selected;
