@import './colors.scss';
@import './dims.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $colors-background;
    color: $colors-text;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

@media not speech {
    .sr-only {
        display: none;
    }
}

input[type='text'],
input[type='password'],
input[type='submit'],
button {
    padding: $dims-padding-dense;
    border-radius: $dims-border-radius-subtle;
}
