$colors-background: #1c1c22;
$colors-background-alt: lighten(#1c1c22, 5%);
$colors-highlight: lighten($colors-background, 20%);
$colors-text: #bcbcbc;
$colors-text-dark: #3c3c3c;
$colors-primary: #00293c;
$colors-primary-bright: lighten(#00293c, 10%);
$colors-selected: $colors-primary;
$colors-success: #8c8;
$colors-error: #c88;
