$colors-background: #1C1C22;
$colors-background-alt: lighten(#1C1C22, 5%);
$colors-highlight: lighten($colors-background, 20%);
$colors-text: #bcbcbc;
$colors-text-dark: #3c3c3c;
$colors-primary: #00293C;
$colors-primary-bright: lighten(#00293C, 10%);
$colors-selected: $colors-primary;
$colors-success: #8c8;
$colors-error: #c88;
